{% extends 'GCNAFNAFBundle::layout.html.twig' %}
{% block content %}					
    <div align="center">	
        {% if  message  %}				
            <p id="msg">{{ message }}</p>
        {% endif %}				
        <br/>
    </div>
{% endblock %}
